பயன்பாடுகள்/கணினிஅகம்/உருவாக்கி/Thirukkural.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Thirukkural">
<xs:element name="Kural">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Book"/>
      <xs:element name="Class"/>
      <xs:element name="Chapter"/>
      <xs:element name="Line1"/>
      <xs:element name="Line2"/>
      <xs:element name="Translation" type="xs:string"/>
      <xs:element name="DKE_Kural" type="xs:string"/>
      <xs:element name="DKE_Meaning" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:element>
</xs:schema> 